<%page expression_filter="h"/>
<%!
  import json
  from django.utils.translation import ugettext as _
  from django.utils.translation import gettext as _ 
  from openedx.core.djangolib.js_utils import js_escaped_string, dump_js_escaped_json
  
  from django.urls import reverse

  from openedx.core.djangolib.markup import HTML, Text
%>
<%inherit file="../main.html" />
<%
  course_discovery_enabled = settings.FEATURES.get('ENABLE_COURSE_DISCOVERY')
%>

<%namespace name='static' file='../static_content.html'/>

<%block name="pagetitle">${_("Courses")}</%block>

<link href="${static.url('css/courses.css')}" rel="stylesheet" type="text/css" />
<link href="${static.url('css/index.css')}" rel="stylesheet" type="text/css" />
<link href="${static.url('css/course.css')}" rel="stylesheet" type="text/css" />

<main id="main" aria-label="Content" tabindex="-1">
    <section class="find-courses">
      <section class="courses-container">
        % if course_discovery_enabled:
			<section class="home" style="padding:0;">
			
				<section class="courses-container">
					  <section class="highlighted-courses">

						% if settings.FEATURES.get('COURSES_ARE_BROWSABLE'):
						  <section class="courses">
							<ul class="courses-listing">
							  ## limiting the course number by using HOMEPAGE_COURSE_MAX as the maximum number of courses
							  %for course in courses[:100]:
							  <li class="courses-listing-item">
								  <%include file="course.html" args="course=course" />
							  </li>
							%endfor
							</ul>
						  </section>
						## in case there are courses that are not shown on the homepage, a 'View all Courses' link should appear
						  % if homepage_course_max and len(courses) > homepage_course_max:
						  <div class="courses-more">
							<a class="courses-more-cta" href="${marketing_link('COURSES')}"> ${_("View all Courses")} </a>
						  </div>
						% endif
						% endif

					  </section>
					</section>
					
			</section>
		% endif

      </section>
    </section>
</main>
