<%page expression_filter="h"/>
<%!
  import json
  from django.utils.translation import ugettext as _
  from openedx.core.djangolib.js_utils import js_escaped_string, dump_js_escaped_json
  
  from django.urls import reverse

  from openedx.core.djangolib.markup import HTML, Text
%>
<%inherit file="../main.html" />
<%
  course_discovery_enabled = settings.FEATURES.get('ENABLE_COURSE_DISCOVERY')
%>

<%namespace name='static' file='../static_content.html'/>

<%block name="pagetitle">${_("Courses")}</%block>

<link href="${static.url('css/courses.css')}" rel="stylesheet" type="text/css" />
<link href="${static.url('css/index.css')}" rel="stylesheet" type="text/css" />
<link href="${static.url('css/course.css')}" rel="stylesheet" type="text/css" />

<main id="main" aria-label="Content" tabindex="-1">
    <section class="find-courses">
      <section class="courses-container">
        % if course_discovery_enabled:
			<section class="home" style="padding:0;">
				<%include file="../courses_list.html" />
			</section>
		% endif

      </section>
    </section>
</main>
