<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">Контакты</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>
            <%block name="pageheader">Контакты</%block>
        </h1>
        <p>
            <%block name="pagecontent">
				Наш сайт: <a href="https://do.ssau.ru/">do.ssau.ru</a><br>
				Электронная почта: cdot@ssau.ru<br>
				Телефоны: +7(846)337-99-85, +7(846)337-99-79<br>
				Адрес: 443011, г. Самара, ул. Ак.Павлова, д. 1, эт. 6, оф. 616<br>
				Мы работаем: пн-пт 9:00-18:00
			</%block>
        </p>
    </section>
</main>