.wrapper-header header.primary {
    box-sizing: border-box !important;
    max-width: 1280px !important;
    min-width: 1280px !important;
    width: 100% !important;
    margin: 0 auto !important;
}

a.button, button, .remove-course-introduction-video {
    border-radius: 0px !important;
	background: #2780e3 !important;
	border-color: #2780e3 !important;
    color: #fff !important;
	box-shadow: none !important;
}

a.button:hover, button:hover {
	background: #fff !important;
	border-color: #2780e3 !important;
    color: #2780e3 !important;
}

.action-button, .action-button:hover, .action-edit:hover, .action-edit:hover, .block-highlights-value:hover, .block-highlights-value, .action-edit {
	background: transparent !important;
}

div.block-highlights > button.highlights-button{
	font-size: 1.5rem !important;
	color: #666 !important;
}

div.block-highlights > button.highlights-button:hover{
	font-size: 1.5rem !important;
	color: #2780e3 !important;
}

.configure-button:hover, .duplicate-button:hover, .action-edit:hover {
	color: #2780e3 !important;
}

.delete-button:hover {
	color: red !important;
}

.action-item, .action-button{
    font-size: 2.5rem !important;
}

.CodeMirror-scroll {
    height: auto !important;
}

.view-settings .group-settings .list-input .field input, .view-settings .group-settings .list-input .field textarea, .view-settings .group-settings .list-input .field select {
    height: auto !important;
}

.remove-course-introduction-video:hover {
	background-color: #fff !important;
    color: red !important;
	border-color: red !important;
}

#course-handouts-view > a {
	background-color: #fff !important;
    color: #2780e3 !important;
	border-color: #2780e3 !important;
	border-radius: 0 !important;
	background-image: none !important;
}

#course-handouts-view > a:hover {
	background-color: #2780e3 !important;
    color: #fff !important;
	border-color: #2780e3 !important;
	border-radius: 0 !important;
	background-image: none !important;
}
/*
.view-static-pages .wrapper-actions-list .actions-list .action-item.action-visible label:hover {
    background: transparent !important;
}

.view-static-pages .wrapper-actions-list .actions-list .action-item.action-visible .toggle-checkbox:hover ~ .action-button, .view-static-pages .wrapper-actions-list .actions-list .action-item.action-visible .toggle-checkbox:checked:hover ~ .action-button {
    background: transparent !important;
    color: #2780e3 !important; 
}

#content > div.wrapper-content.wrapper > section > article > div.inner-wrapper > article > div.tab-list > ol > li > div.wrapper.wrapper-component-action-header > ul > li.action-item.action-edit, li.action-item.action-duplicate, li.action-item.action-move > button {
	background: transparent !important;
    border: 0 !important;
    color: #666 !important;
}

#content > div.wrapper-content.wrapper > section > article > div.inner-wrapper > article > div.tab-list > ol > li > div.wrapper.wrapper-component-action-header > ul > li.action-item.action-edit, li.action-item.action-duplicate, li.action-item.action-move > button:hover {
	background: transparent !important;
    border: 0 !important;
    color: #2780e3 !important;
}

#content > div.wrapper-content.wrapper > section > article > div.inner-wrapper > article > div.tab-list > ol > li > div.course-nav-item-actions.wrapper-actions-list > ul > li > div {
    background: transparent !important;
	color: #2780e3 !important; 
}
*/

#content > div.wrapper-content.wrapper > section > article > div.inner-wrapper > article > div.tab-list > ol > li > div.course-nav-item-actions.wrapper-actions-list > ul > li > div {
	color: #666 !important;
	background: transparent !important;
}

#content > div.wrapper-content.wrapper > section > article > div.inner-wrapper > article > div.tab-list > ol > li > div.wrapper.wrapper-component-action-header > ul > li.action-item.action-delete > button {
	background: transparent !important;
    border: 0 !important;
    color: #666 !important;
}

#content > div.wrapper-content.wrapper > section > article > div.inner-wrapper > article > div.tab-list > ol > li > div.wrapper.wrapper-component-action-header > ul > li.action-item.action-delete > button:hover {
	background: transparent !important;
    border: 0 !important;
    color: red !important;
}

#content > div.wrapper-content.wrapper > section > article > div.inner-wrapper > article > div.tab-list > ol > li > div.wrapper.wrapper-component-action-header > ul > li.action-item.action-edit > button > span.action-button-text {
	display: none !important;
}

#content > div.wrapper-content.wrapper > section > article > div.inner-wrapper > article > div.tab-list > ol > li > div.wrapper.wrapper-component-action-header > ul > li.action-item.action-edit > button,
#content > div.wrapper-mast.wrapper > header > div.jump-nav > div.wrapper-xblock-field.incontext-editor.is-editable > div > button {
	border: 0 !important;
	background: transparent !important;
	color: #666 !important;
	font-size: 2rem !important;
}

#content > div.wrapper-content.wrapper > section > article > div.inner-wrapper > article > div.tab-list > ol > li > div.wrapper.wrapper-component-action-header > ul > li.action-item.action-edit > button:hover,
#content > div.wrapper-mast.wrapper > header > div.jump-nav > div.wrapper-xblock-field.incontext-editor.is-editable > div > button:hover {
	border: 0 !important;
	background: transparent !important;
	color: #2780e3 !important;
}

#root > div > div.container > div:nth-child(4) > div.col > span > div > div {
    color: #2780e3 !important;
	border-color: #2780e3 !important;
}

#table-contents > div > table > thead > tr > th.sortable > button {
    background: transparent !important;
    color: black !important;
    border: 0 !important;
}

#root > div > div.container > div:nth-child(2) > div > div > div {
	border-radius: 0 !important;
	
}

#label-asInput2, #root > div > div.container > div:nth-child(2) > div > div > div > div > div.input-group > div.input-group-prepend {
	display: none !important;
}

#field-course-grading-range > div > a:hover {
    background-color: #2780e3 !important;
    color: #fff !important;
}
#field-course-grading-range > div > a {
    border-radius: 0 !important;
    border: 1px solid #2780e3 !important;
    color: #2780e3 !important;
    background-image: none !important;
    background: #fff !important;
    box-shadow: none !important;
	height: 50px !important;
}

#field-course-grading-range > div > div > div > ol.increments {
	margin-bottom: 0px !important;
}

#settings_details > section.group-settings.assignment-types > div > a, 
#fileupload > a, 
#content > div.wrapper-content.wrapper > section > article > div.export-controls > h2 > ul > li > a,
#checklist-item-welcomeMessage > div > div > a,
a.px-3.btn.btn-primary.checklist-item-link,
#settings_details > div.group-settings.basic > div > ul > li > a {
	border-radius: 0 !important;
    border: 1px solid #2780e3 !important;
    color: #2780e3 !important;
    background-image: none !important;
    background: #fff !important;
    box-shadow: none !important;
}

#settings_details > section.group-settings.assignment-types > div > a:hover, 
#fileupload > a:hover, 
#content > div.wrapper-content.wrapper > section > article > div.export-controls > h2 > ul > li > a:hover,
a.px-3.btn.btn-primary.checklist-item-link:hover,
#settings_details > div.group-settings.basic > div > ul > li > a:hover {
    color: #fff !important;
    background: #2780e3 !important;
    box-shadow: none !important;
}

#user-list > li > span > span {
    background: #2780e3 !important;
}

#user-list > li > span > span > span.value > span {
	color: #fff !important;
}

#content > div.wrapper-content.wrapper > div > section > article > section > article > div > div > div.new-component > h5{
	color: #2780e3 !important;
}

#content > div.wrapper-content.wrapper > div > section > article > div.container-message.wrapper-message > div > p > span{
	font-size: 3rem !important;
}

button.sequence-nav-button.button-next,
#sequence-list > li > button,
button.sequence-nav-button.button-previous {
    box-shadow: none !important;
    border: 1px solid #e7e7e7 !important;
    color: black !important;
    background-color: #fff !important;
}

button.sequence-nav-button.button-previous:hover,
button.sequence-nav-button.button-next:hover,
#sequence-list > li > button:hover {
    border-bottom: 3px solid #2780e3 !important;
}

#content > div.wrapper-mast.wrapper > header > nav > ul > li.action-item.nav-item > a {
    background-color: #2780e3 !important;
    border: 1px solid #2780e3 !important;
    color: #fff !important;
    padding: 5px !important;
	font-size: 1.5rem !important;
}

#content > div.wrapper-mast.wrapper > header > nav > ul > li.action-item.nav-item > a:hover {
    background: transparent !important;
    color: #2780e3 !important;
}

#publish-unit > div > div.wrapper-pub-actions.bar-mod-actions > ul > li:nth-child(1) > a {
	border-radius: 0 !important;
}

.wrapper-message .message {
    background-color: #fff !important;
    padding: 10px 15px !important;
    color: black !important;
}

#content > div.wrapper-content.wrapper > div > section > article > section > article > div > ol > li > section > header > div.xblock-header-primary > div.header-actions > ul > li.action-item.action-edit > button > span.action-button-text {
    display: none;
}

#content > div.wrapper-content.wrapper > div > section > article > section > article > div > ol > li > section > header > div.xblock-header-primary > div.header-actions > ul > li.action-item > button {
    color: #666 !important;
    border: 0px !important;
    font-size: 3rem !important;
}

#content > div.wrapper-content.wrapper > div > section > article > section > article > div > ol > li > section > header > div.xblock-header-primary > div.header-actions > ul > li.action-item.action-edit > button:hover,
#content > div.wrapper-content.wrapper > div > section > article > section > article > div > ol > li > section > header > div.xblock-header-primary > div.header-actions > ul > li.action-item.action-duplicate > button:hover,
#content > div.wrapper-content.wrapper > div > section > article > section > article > div > ol > li > section > header > div.xblock-header-primary > div.header-actions > ul > li.action-item.action-visibility > button:hover,
#content > div.wrapper-content.wrapper > div > section > article > section > article > div > ol > li > section > header > div.xblock-header-primary > div.header-actions > ul > li.action-item.action-move > button:hover {
	color: #2780e3 !important;
}

#content > div.wrapper-content.wrapper > div > section > article > section > article > div > ol > li > section > header > div.xblock-header-primary > div.header-actions > ul > li.action-item.action-delete > button:hover {
	color: red !important;
}

#content > div.wrapper-content.wrapper > div > section > article > section > article > div > div > div.new-component > ul > li > button:hover {
	background-color: #666 !important;
}

#sequence_d98836efa2254f4e8286e04bfd35a599 > div.sequence-nav > button.sequence-nav-button:hover, #sequence-list > li > button.active {
    border-bottom: 3px solid #2780e3 !important;
}

button.control.video_control.play {
    background: transparent !important;
    font-size: 2rem !important;
}

button.control.speed-button,
button.control.quality-control,
button.control.add-fullscreen,
button.control {
    background: transparent !important;
}

.xmodule_display.xmodule_VideoBlock .video .video-wrapper .video-controls .secondary-controls .volume .volume-slider-container .volume-slider .ui-slider-handle,
.xmodule_display.xmodule_VideoBlock .video .video-wrapper .video-controls .secondary-controls .volume .volume-slider-container .volume-slider .ui-slider-range,
.xmodule_display.xmodule_VideoBlock .video .video-wrapper .video-controls .slider .ui-slider-handle,
.xmodule_display.xmodule_VideoBlock .video .video-wrapper .video-controls .slider .ui-widget-header {
    border: 1px solid #2780e3 !important;
    background: #2780e3 !important;
}

.xmodule_display.xmodule_VideoBlock .video .video-wrapper .video-controls .secondary-controls .volume .volume-slider-container {
    bottom: 34px !important;
}

a.action.action-primary.action-settings {
    border-radius: 0px !important;
    border: 1px solid #2780e3 !important;
    background: #2780e3 !important;
    color: #fff !important;
}

a.action.action-primary.action-settings:hover {
    background: #fff !important;
    color: #2780e3 !important;
    box-shadow: none !important;
}

a.button.action-cancel {
    font-size: 1.4rem !important;
    padding: 4px 20px 5px !important;
    border: 1px solid #2780e3 !important;
    display: inline-block;
}

.prompt.warning.has-actions {
    background-color: #fff !important;
    border-color: #fff !important;
    color: #666 !important;
}

#prompt-warning > div > nav {
    background: #fff !important;
    border: 0px !important;
    box-shadow: none !important;
}

#prompt-warning-title {
    color: black !important;
}

#prompt-warning > div > nav > ul > li > button {
    background: transparent !important;
    border: 0px !important;
    color: #2780e3 !important;
}

#prompt-warning > div > nav > ul > li > button:hover {
    color: black !important;
}

button.unbutton.btn-link.keyboard-help-button {
    background: transparent !important;
    color: #2780e3 !important;
}

button.modal-dismiss-button.unbutton {
    background: transparent !important;
    color: #666 !important;
}

button.modal-dismiss-button.unbutton:hover {
    color: #2780e3 !important;
}

.xblock--drag-and-drop .sidebar-buttons .sidebar-button-wrapper {
    height: auto !important;
}

button.save.problem-action-btn.btn-link.btn-small {
    background: transparent !important;
    color: #2780e3 !important;
}