.wrapper-header header.primary {
    box-sizing: border-box !important;
    max-width: 1280px !important;
    min-width: 1280px !important;
    width: 100% !important;
    margin: 0 auto !important;
}

a.button, button, .remove-course-introduction-video {
    border-radius: 0px !important;
	background: #2780e3 !important;
	border-color: #2780e3 !important;
    color: #fff !important;
	box-shadow: none !important;
}

a.button:hover, button:hover {
	background: #fff !important;
	border-color: #2780e3 !important;
    color: #2780e3 !important;
}

.action-button, .action-button:hover, .action-edit:hover, .action-edit:hover, .block-highlights-value:hover, .block-highlights-value, .action-edit {
	background: transparent !important;
}

.configure-button:hover, .duplicate-button:hover, .action-edit:hover {
	color: #2780e3 !important;
}

.delete-button:hover {
	color: red !important;
}

.action-item, .action-button{
    font-size: 2.5rem !important;
}

.CodeMirror-scroll {
    height: auto !important;
}

.view-settings .group-settings .list-input .field input, .view-settings .group-settings .list-input .field textarea, .view-settings .group-settings .list-input .field select {
    height: auto !important;
}

.remove-course-introduction-video:hover {
	background-color: #fff !important;
    color: red !important;
	border-color: red !important;
}

#course-handouts-view > a {
	background-color: #fff !important;
    color: #2780e3 !important;
	border-color: #2780e3 !important;
	border-radius: 0 !important;
	background-image: none !important;
}

#course-handouts-view > a:hover {
	background-color: #2780e3 !important;
    color: #fff !important;
	border-color: #2780e3 !important;
	border-radius: 0 !important;
	background-image: none !important;
}
/*
.view-static-pages .wrapper-actions-list .actions-list .action-item.action-visible label:hover {
    background: transparent !important;
}

.view-static-pages .wrapper-actions-list .actions-list .action-item.action-visible .toggle-checkbox:hover ~ .action-button, .view-static-pages .wrapper-actions-list .actions-list .action-item.action-visible .toggle-checkbox:checked:hover ~ .action-button {
    background: transparent !important;
    color: #2780e3 !important; 
}

#content > div.wrapper-content.wrapper > section > article > div.inner-wrapper > article > div.tab-list > ol > li > div.wrapper.wrapper-component-action-header > ul > li.action-item.action-edit, li.action-item.action-duplicate, li.action-item.action-move > button {
	background: transparent !important;
    border: 0 !important;
    color: #666 !important;
}

#content > div.wrapper-content.wrapper > section > article > div.inner-wrapper > article > div.tab-list > ol > li > div.wrapper.wrapper-component-action-header > ul > li.action-item.action-edit, li.action-item.action-duplicate, li.action-item.action-move > button:hover {
	background: transparent !important;
    border: 0 !important;
    color: #2780e3 !important;
}

#content > div.wrapper-content.wrapper > section > article > div.inner-wrapper > article > div.tab-list > ol > li > div.course-nav-item-actions.wrapper-actions-list > ul > li > div {
    background: transparent !important;
	color: #2780e3 !important; 
}
*/

#content > div.wrapper-content.wrapper > section > article > div.inner-wrapper > article > div.tab-list > ol > li > div.course-nav-item-actions.wrapper-actions-list > ul > li > div {
	color: #666 !important;
	background: transparent !important;
}

#content > div.wrapper-content.wrapper > section > article > div.inner-wrapper > article > div.tab-list > ol > li > div.wrapper.wrapper-component-action-header > ul > li.action-item.action-delete > button {
	background: transparent !important;
    border: 0 !important;
    color: #666 !important;
}

#content > div.wrapper-content.wrapper > section > article > div.inner-wrapper > article > div.tab-list > ol > li > div.wrapper.wrapper-component-action-header > ul > li.action-item.action-delete > button:hover {
	background: transparent !important;
    border: 0 !important;
    color: red !important;
}

#content > div.wrapper-content.wrapper > section > article > div.inner-wrapper > article > div.tab-list > ol > li > div.wrapper.wrapper-component-action-header > ul > li.action-item.action-edit > button > span.action-button-text {
	display: none !important;
}

#content > div.wrapper-content.wrapper > section > article > div.inner-wrapper > article > div.tab-list > ol > li > div.wrapper.wrapper-component-action-header > ul > li.action-item.action-edit > button {
	border: 0 !important;
	background: transparent !important;
	color: #666 !important;
}

#content > div.wrapper-content.wrapper > section > article > div.inner-wrapper > article > div.tab-list > ol > li > div.wrapper.wrapper-component-action-header > ul > li.action-item.action-edit > button:hover {
	border: 0 !important;
	background: transparent !important;
	color: #2780e3 !important;
}

#root > div > div.container > div:nth-child(4) > div.col > span > div > div {
    color: #2780e3 !important;
	border-color: #2780e3 !important;
}

#table-contents > div > table > thead > tr > th.sortable > button {
    background: transparent !important;
    color: black !important;
    border: 0 !important;
}

#root > div > div.container > div:nth-child(2) > div > div > div {
	border-radius: 0 !important;
	
}

#label-asInput2, #root > div > div.container > div:nth-child(2) > div > div > div > div > div.input-group > div.input-group-prepend {
	display: none !important;
}

#field-course-grading-range > div > a:hover {
    background-color: #2780e3 !important;
    color: #fff !important;
}
#field-course-grading-range > div > a {
    border-radius: 0 !important;
    border: 1px solid #2780e3 !important;
    color: #2780e3 !important;
    background-image: none !important;
    background: #fff !important;
    box-shadow: none !important;
	height: 50px !important;
}

#field-course-grading-range > div > div > div > ol.increments {
	margin-bottom: 0px !important;
}

#settings_details > section.group-settings.assignment-types > div > a, 
#fileupload > a, 
#content > div.wrapper-content.wrapper > section > article > div.export-controls > h2 > ul > li > a,
#checklist-item-welcomeMessage > div > div > a,
a.px-3.btn.btn-primary.checklist-item-link {
	border-radius: 0 !important;
    border: 1px solid #2780e3 !important;
    color: #2780e3 !important;
    background-image: none !important;
    background: #fff !important;
    box-shadow: none !important;
}

#settings_details > section.group-settings.assignment-types > div > a:hover, 
#fileupload > a:hover, 
#content > div.wrapper-content.wrapper > section > article > div.export-controls > h2 > ul > li > a:hover,
a.px-3.btn.btn-primary.checklist-item-link:hover {
    color: #fff !important;
    background: #2780e3 !important;
    box-shadow: none !important;
}


#settings_details > section.group-settings.assignment-types > div > a {
	background-color: #2780e3 !important;
    color: #fff !important;
}

#user-list > li > span > span {
    background: #2780e3 !important;
}

#user-list > li > span > span > span.value > span {
	color: #fff !important;
}
