.wrapper-r{
	width: 100% !important;
	max-width: 50% !important;
}

.wrapper-l{
	width: 100% !important;
	max-width: 50% !important;
}

.info-course{
	width: 100% !important;
	max-width: 50% !important;
}

.branding{
	max-width: 48% !important;
	margin-right: 2% !important;
}

.nav-course{
	max-width: 100% !important;
	width: 100% !important;
}