## mako
<%page expression_filter="h"/>
<%!
  from django.urls import reverse
  from django.utils.translation import ugettext as _
  from lms.djangoapps.branding.api import get_footer
  from openedx.core.djangoapps.lang_pref.api import footer_language_selector_is_enabled
%>
<% footer = get_footer(is_secure=is_secure) %>
<% icp_license_info = getattr(settings, 'ICP_LICENSE_INFO', {})%>
<%namespace name='static' file='static_content.html'/>

<div class="wrapper wrapper-footer">
<footer id="footer-openedx" class="grid-container">
  <div class="colophon">
	<nav class="nav-colophon">
	  <ol>
			<li>
				<a href="https://do.ssau.ru/about/">О нас</a>
			</li>
			<li>
				<a href="/contact">Контакты</a>
			</li>
	  </ol>
	</nav>
	
	<p class="copyright" style="display:block">© Samara University. All rights reserved except where noted. edX, Open edX and their respective logos are registered trademarks of edX Inc.</p>

	<nav class="nav-legal">
	  <ul>
			<li>
				<a href="https://do.ssau.ru/">Центр диcтанционных образовательных технологий</a>
			</li>
			<li>
				<a href="https://ssau.ru/">Самарский университет</a>
			</li>
	  </ul>
	</nav>
  </div>

  <div class="footer-about-openedx">
	<p>
	  <a href="https://docs.tutor.overhang.io" rel="noopener" target="_blank">
		<img src="${static.url('images/tutor-logo.png')}" height="40" />
	  </a>
	  <a href="https://openedx.org/" rel="noopener" target="_blank">
		<img src="${static.url('images/openedx-logo.png')}" height="40" />
	  </a>
	</p>
  </div>
</footer>
</div>
