<%page expression_filter="h"/>
<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.urls import reverse

from openedx.core.djangolib.markup import HTML, Text
%>

<link href="${static.url('css/counter.css')}" rel="stylesheet" type="text/css" />
<link href="${static.url('css/index.css')}" rel="stylesheet" type="text/css" />
<link href="${static.url('css/bootstrap.css')}" rel="stylesheet" type="text/css" />
<script src="https://unpkg.com/counterup2@2.0.2/dist/index.js"></script>



<div class="white-with-shadow">
	<div class="ssau_head "></div>
	
	<div class="ssau_index_1">
		Массовые открытые онлайн-курсы (MOOC) – курсы для тех,<br /> кто хочет расширить горизонты своих знаний<br>
		<a href="/courses" /><button style="">Перейти к курсам</button></a>
	</div> 
</div>
	 
<div class="white-with-shadow">
	<div class="ssau_index_2_test">
		<div class="row">
			<div class="cell">
				<div style="display:table-row; height:100%; width:100%;">
					<img src="${static.url('images/video-player.png')}" />
					<p>Интересные видео-лекции по каждой теме курса</p>
				</div>
			</div>
			<div class="cell">
				<div style="display:table-row; height:100%; width:100%;">
					<img src="${static.url('images/exam.png')}" />
					<p>Промежуточные и итоговые тесты для закрепления пройденного материала</p>
				</div>
			</div>
		</div>
		
		<div class="row"><br></div>
		
		<div class="row">
			<div class="cell">
				<div style="display:table-row; height:100%; width:100%;">
					<img src="${static.url('images/group.png')}" />
					<p>Обсуждение вопросов и взаимопощь на форумах</p>
				</div>
			</div>
			<div class="cell">
				<div style="display:table-row; height:100%; width:100%;">
					<img src="${static.url('images/diploma.png')}" />
					<p>Возможность получения сертификата о прохождении курса и его перезачет</p>
				</div>
			</div>
		</div>	 
	</div>
</div>
       
<div class="white-with-shadow mgn-bottom counter" style="">
	<div class="row">
		<div class="col-md-6 ctr-left" style="">
			<h2 style="">> <div class="num num1" style="">170000</div></h2>
			<h4 style="";>слушателей обучилось на наших МООК</h4>
		</div>
	
		<div class="col-md-6 ctr-right" style="">
			<h2 style="">> <div class="num num2" style="">4500</div></h2>
			<h4 style="">сертификатов выдано слушателям</h4>
		</div>
	</div>
</div>
	
<script>
	jQuery(document).ready(function($) {
		const el = document.querySelector('.counter');
		counterUp( el, {
			duration: 1000,
			delay: 10,
		});
	});
</script>
	 
<div class="white-with-shadow">
	<div class="ssau_index_3"></div>
	<div style="width:100%;">
		<p style="width: 90%; margin: auto; margin-top: 20px; margin-bottom: 20px;">Открытые онлайн курсы Самарского университета - доступный и гибкий способ получения новых навыков и помощь в организации качественного образовательного процесса</p>
	</div>
</div>
	 
<div class="ssau_courses" style="padding:0;">ОНЛАЙН-КУРСЫ</div>
	 
<section class="home" style="padding:0;">
	<%include file="${courses_list}" />
</section>

<%block name="js_extra">
   <script type="text/javascript">
      $(window).load(function() {
         if(getParameterByName('next')) {
              $('#login').trigger("click");
         }
      })
   </script>
</%block>
