.courses-container {
    max-width: 1600px !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.wrapper-search-input {
    float: left !important;
    display: block !important;
    margin-right: 0 !important;
    width: 50% !important;
    position: relative !important;
}

.search-status-label {
    float: left !important;
    display: block !important;
    width: 50% !important;
	margin-right: 0 !important;
    min-height: 55px !important;
}

.courses {
	width: 100% !important;
}

