.table {
    display: table;
    width: 100%;
    max-width: 1180px;
    margin-left: auto;
    margin-right: auto;
}

.intro {
    box-sizing: border-box;
    display: table-cell;
    vertical-align: middle;
    padding: 20px;
    position: relative;
    width: 30% !important;
    z-index: 2;
}

.sbtn {
    background: #009CDE !important;
    color: white !important;
    font-weight: 500 !important;
    border: 1px solid #009CDE !important;
    font-size: 13pt !important;
    transition: all 0.3s ease !important;
    text-transform: uppercase !important;
}

.sbtn:hover {
    background: white !important;
    color: #009CDE !important;
    font-weight: 500 !important;
    border: 1px solid #009CDE !important;
    font-size: 13pt !important;
    transition: all 0.3s ease !important;
}

strong {
    border: 1px solid #009CDE !important;
    color: white !important;
    display: inline-block;
    font-size: 13pt !important;
    font-weight: 500 !important;
    background: #009CDE !important;
    padding: 10px 0;
    text-align: center;
    width: 35.26334%;
	transition: all 0.3s ease !important;
    text-transform: uppercase !important;
}

strong:hover {
    border: 1px solid #009CDE !important;
    color: #009CDE !important;
    display: inline-block;
    font-size: 13pt !important;
    font-weight: 500 !important;
    background: white !important;
    padding: 10px 0;
    text-align: center;
    width: 35.26334%;
	transition: all 0.3s ease !important;
    text-transform: uppercase !important;
}