.course-info {
    height: 140px !important;
}

.course-image .cover-image {
    height: auto !important;
    overflow: hidden !important;
}

@media screen and (min-width: 980px){
	.courses-container .courses .courses-listing .courses-listing-item:nth-child(n) {
		clear: none;
	}
	.courses-container .courses .courses-listing .courses-listing-item:nth-child(4n+1) {
		clear: left !important;
	}
	.courses-container .courses .courses-listing .courses-listing-item:nth-child(4n) {
		margin-right: 0 !important;
	}
	.courses-container .courses .courses-listing .courses-listing-item {
		float: left !important;
		display: block !important;
		margin: 0 2.1% 0 0 !important;
		width: 22.4% !important;
	}
}

@media screen and (min-width: 769px) and (max-width: 979px){
	.courses-container .courses .courses-listing .courses-listing-item:nth-child(n) {
		clear: none;
	}
	.courses-container .courses .courses-listing .courses-listing-item:nth-child(3n+1) {
		clear: left !important;
	}
	.courses-container .courses .courses-listing .courses-listing-item:nth-child(3n) {
		margin-right: 0 !important;
	}
	.courses-container .courses .courses-listing .courses-listing-item {
		float: left !important;
		display: block !important;
		margin: 0 2.2% 0 0 !important;
		width: 31.2% !important;
	}
}

@media screen and (min-width: 541px) and (max-width: 768px){
	.courses-container .courses .courses-listing .courses-listing-item:nth-child(n) {
		clear: none;
	}
	.courses-container .courses .courses-listing .courses-listing-item:nth-child(2n+1) {
		clear: left !important;
	}
	.courses-container .courses .courses-listing .courses-listing-item:nth-child(2n) {
		margin-right: 0 !important;
	}
	.courses-container .courses .courses-listing .courses-listing-item {
		float: left !important;
		display: block !important;
		margin: 0 3% 0 0 !important;
		width: 47.5% !important;
	}
}

@media screen and (max-width: 540px){
	.courses-container .courses .courses-listing .courses-listing-item {
		width: 100% !important;
		box-sizing: border-box !important;
	}
}