.table {
    display: table;
    width: 100%;
    max-width: 1180px;
    margin-left: auto;
    margin-right: auto;
}

.intro {
    box-sizing: border-box;
    display: table-cell;
    vertical-align: middle;
    padding: 20px;
    position: relative;
    width: 30% !important;
    z-index: 2;
}

.sbtn, strong{
    background: #009CDE !important;
    color: white !important;
    font-weight: 500 !important;
    border: 1px solid #009CDE !important;
    font-size: 13pt !important;
    transition: all 0.3s ease !important;
    text-transform: uppercase !important;
	border-radius: 0 !important;
	text-shadow: none !important;
	box-shadow: none !important;
}

.sbtn:hover, strong:hover{
    background: white !important;
    color: #009CDE !important;
    font-weight: 500 !important;
    border: 1px solid #009CDE !important;
    font-size: 13pt !important;
    transition: all 0.3s ease !important;
	border-radius: 0 !important;
	text-shadow: none !important;
	box-shadow: none !important;
}

strong {
    display: inline-block;
    padding: 10px 0;
    text-align: center;
    width: 35.26334%;
}

.course-sidebar {
	width: 100% !important;
}

.important-dates {
	padding: 0 !important;
}