.courses-container {
    max-width: 1600px !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.wrapper-search-input {
    float: left !important;
    display: block !important;
    margin-right: 0 !important;
    width: 50% !important;
    position: relative !important;
}

.search-status-label {
    float: left !important;
    display: block !important;
    width: 50% !important;
	margin-right: 0 !important;
    min-height: 55px !important;
}

.courses {
	width: 100% !important;
}

.find-courses .courses-container .courses:not(.no-course-discovery) .courses-listing .courses-listing-item:nth-child(n), .university-profile .courses-container .courses:not(.no-course-discovery) .courses-listing .courses-listing-item:nth-child(n) {
    clear: none !important;
}

.courses-listing-item {
	float: left !important;
    display: block !important;
    padding: 1% !important;
    width: 25% !important;
	margin-right: 0 !important;
}

