.side-container{
	min-width: 0 !important;
	max-width: 300px !important;
	padding: 0px !important;
}

.enter-course{
	color: #2780e3;
	background-color: #fff;
	border-radius: 0px;
	border: 1px solid #2780e3;
}

.enter-course:hover{
	color: #fff !important;
	background-color: #2780e3 !important;
}

.action-more{
    font-size: 20px !important;
    box-shadow: none !important;
    background: #fff !important;
    background-image: none !important;
    color: #767676 !important;
    line-height: 20px !important;
    text-shadow: none !important;
	border: 0px !important;
}

.action-more:hover{
    color: #2780e3 !important;
	border: 0px !important;
}

.wrapper-course-image{
	float: left !important;
    margin-right: 20px !important;
    width: 22% !important;
    height: 100% !important;
    overflow: hidden !important;
    display: inline-block !important;
	max-height: 400px !important;
}

#unenroll_form > div > input {
    border-radius: 0 !important;
    border: 1px solid #2780e3 !important;
    background-color: #2780e3 !important;
    background-image: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
	color: #fff !important;
}

#unenroll_form > div > input:hover {
    border-radius: 0 !important;
    border: 1px solid #2780e3 !important;
    background-color: #fff !important;
    background-image: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
	color: #2780e3 !important;
}