.global-header {
	position: fixed !important;
    max-width: 1180px !important;
    padding-bottom: 10px !important;
    border-bottom: 1px solid #2780e3 !important;
    background: #fff !important;
    line-height: 1.5 !important;
    display: block !important;
    margin: 0 auto !important;
	left: 0;
	right: 0;
}

.dropdown-user-menu {
    border: 1px solid #313131 !important;
    position: absolute !important;
    background-color: #fff !important;
    color: #313131 !important;
    right: 30px !important;
    top: 65px !important;
    z-index: 10 !important;
}