body {
	line-height: 1.4;
}

.ssau_head {
	margin: 15px 0px;
	width: 100%;
	height: 40vh;
	min-height: 300px;
	background-size: cover;
	text-align: left;
	vertical-align: middle;
	background-image: url('../images/ssau_rocket.jpg');
}

.content-wrapper {
    padding: 0 0 10px;
}

.ssau_head div {
	display: inline-block;
	width: 50%; text-align: center;
	font-size: 45px;
	color: #fff;
	font-weight: 600;
	margin: 60px;
}
		
		
.white-with-shadow{
    background-color: rgb(255,255,255);
    border:none;
    box-shadow:0 0 5px rgba(122,122,122,0.3);
}

.ssau_index_1 {
	width: 90%;
	margin: auto;
	text-align: center;
	padding: 15px 0px;
}

.ssau_index_1 button {
	background: #8bc34a;
	padding: 8px 16px;
	color: #000;
	font-size: 15px;
	text-decoration: none;
	vertical-align: middle;
	margin-right: 15px;
	text-shadow: none;
	box-shadow: none;
}

.ssau_index_1 button:hover {
	color: #000;
	background: #f1c9a5;
	text-shadow: none;
	box-shadow: none;
}

.ssau_index_3 .logo {
	display: inline-block;
	width: 25%;
	text-align: center;
	padding: 15px 0px;
	vertical-align: top;
	opacity: 0.5;
}

.ssau_index_3 .text {
	display: inline-block;
	width: 70%;
	text-align: center;
	vertical-align: top;
	padding-top: 30px;
	font-size: 32px;
	color: #fff;
}

.ssau_footer {
	width: 100%;
	text-align: center;
	color: #fff;
	background-color: #7a7a7a;
}

.ssau_head_logo {
	vertical-align: top;
}

@media screen and (min-width: 800px) {
.ssau_head_logo {display: inline-block; width: 40%; padding-top: 10px;}
.ssau_menu {display: inline-block; width: 55%; text-align: right;}
.ssau_index_1 {font-size: 32px; }
.ssau_index_2 div {display: inline-block; width: 20%; margin: 0px 15px; text-align: center; vertical-align: top}
.ssau_index_3 {margin: 15px 0px; width: 100%; height: 20vh; min-height: 250px; background-image: url('../images/ssau_rocket.jpg'); background-size: cover; vertical-align: top}
.ssau_courses {width: 70%; text-align: center; padding: 15px 0px; font-size: 32px; color: #000; margin: auto}
.ssau_footer div {display: inline-block; width: 40%; text-align: left; padding: 15px 10px; vertical-align: top;}
.ssau_footer img {width: 40%}
}

@media screen and (max-width: 800px) {
.ssau_head_logo {width: 100%; padding-top: 10px;text-align: center;}
.ssau_menu {width: 100%; text-align: center; padding: 15px 0px;}
.ssau_index_1 {font-size: 26px;}
.ssau_index_2 div {width: 100%; margin: 15px 0px; text-align: center; vertical-align: top}
.ssau_index_3 {display: none;}
.ssau_courses {display: none;}
.ssau_footer div {width: 95%; text-align: left; padding: 15px 10px; vertical-align: top;}
.ssau_footer img {width: 90%}
}

.online-edu-course-replies{
	width:100%;
	height:500px;
	border:0;
}

.content-wrapper, .window-wrap{
	background: rgb(250,250,250);
}

.courses-container .course {
	overflow:hidden;
	border: 1px solid #ddd !important;
}

.hightlighted-courses{
	width: auto !important;
	max-width:1600px !important;
}

.courses-container .courses{
	max-width: 98%;
	margin: 20px auto 0 auto;
	float:none;
}

.courses-container .courses .course .course-image .cover-image{
	height:auto;
	max-height:222px;
	max-height:222px;
}

.courses-container .course:hover {
	border: 1px solid #ddd !important;
	background:white !important;
	box-shadow: 0 2px 15px rgba(122,122,122,0.9) !important;
	transform: scale(1.05);
}

.courses-container .course-title{
	height:122px !important;
}

.courses-container .course-info{
	height:200px !important;
	transition: all 0.3s ease;
}

.courses-container .course .course-organization{
	display:none !important;
}

.courses-container .course .course-code{
	display:none !important;
}

.course-container{
	background:white;
	border: 1px solid rgba(0,0,0,0.2) !important;
}

.course-info .course-profile{
	border-bottom:0 !important;
	background: rgb(250,250,250) !important;
	box-shadow:inset 0 0 0 0 #fff !important;
	height:auto !important;
	padding-top:0px !important;
}

.find-courses{
	background: transparent !important;
	padding-bottom: 20px;
}

.find-courses .courses-container{
	padding-top:0px;
}

.find-courses .courses{
	padding-top:0px;
}

.content-wrapper{
	max-width:1600px !important;
	margin-left:auto;
	margin-right:auto;
	margin-top: 0px !important;
}

.course-info .course-profile .intro-inner-wrapper{
    background-color: rgb(255,255,255) !important;
    border:none !important;
    box-shadow:0 2px 4px rgba(122,122,122,0.3) !important;
	margin-bottom: 20px !important;
	overflow: hidden !important;
	padding:0px !important;
	max-width:1200px !important;
}

.course-info .course-profile .intro-inner-wrapper .main-cta a span{
	width:60% !important;
}

.course-info .container .details{
	max-width:60%;
}

.course-info .container .course-sidebar{
	width:37.3%;
}

.course-info .container {
	background-color: rgb(255,255,255);
	border:none;
	box-shadow:0 0 5px rgba(122,122,122,0.3);
	margin-bottom: 20px;
	overflow: hidden;
	padding:20px;
	max-width:1200px;
}

.course-info .details .course-staff .teacher-image img{
	object-fit:cover;
}

.course-info .details .course-staff .teacher-image{
	border:none !important;
	border-radius:50%;
	padding:0 !important;
}

.ssau_head{
	background-position: 50% 10%;
	background-attachment: fixed;
	margin: 0;
	min-height:250px;
	height:30vh;
	-webkit-background-size: cover;
	background-size:cover;
	background-repeat: no-repeat;

	-webkit-background-position: 50% 10%;
	-webkit-background-attachment: fixed;
	-webkit-margin: 0;
	-webkit-min-height:250px;
	-webkit-height:30vh;
}

.white-with-shadow{
	width:100%;
	margin-left:auto;
	margin-right:auto;
	background-color: rgb(255,255,255);
	border:none;
	box-shadow:0 0 5px rgba(122,122,122,0.3);
	margin-bottom: 20px;
	overflow: hidden;
}


.ssau_page{
	background: rgb(250,250,250);
}

.highlighted-courses{
	margin-bottom:0;
}

.section-bkg-wrapper{
	background: rgb(255,255,255)
}

.white-with-shadow button, .course-info .intro-inner-wrapper .intro a, .course-info .intro-inner-wrapper .intro strong{
	background: #009CDE ;
	background-color: #009CDE !important;
	background-image:none !important;
	color: white ;
	font-weight: 500 ;
	border: 0 ;
	border: 1px solid #fff !important;
	margin-top:15px ;
	font-size: 13pt;
	text-shadow:none !important;
	box-shadow:0 0 0 0 #fff !important;
	transition: all 0.3s ease;
}

 .course-info .intro-inner-wrapper .intro .heading-group button{
	display:none;
 }

 .course-info .intro-inner-wrapper .intro strong{
	margin-top:0;
 }

button:active:not(:disabled), button:focus:not(:disabled),{
	box-shadow:inset 0 0 0 0 #fff !important;
}

.ssau_nav{
	height:auto;
	min-height: 65px;
}

.courses .courses-listing-item{
	max-height: 480px !important;
}

@media (max-width:767px){
        .header-logo .logo{
			max-width:130%;
			height:auto !important;
        }
		
		.ssau_head{
			background-size: auto !important;
			-webkit-background-size: auto !important;
        }

        .ssau_nav .ssau_menu{
			margin-left:auto;
			margin-right: auto;
			min-width: 300px;
        }

        .ssau_menu button{
			margin-left:10px;
			margin-right:10px;
        }

        .courses-container{
			width:auto;
			max-width:90%;
        }

        .courses-container .course .cover-image{
			height: auto !important;
        }

        .courses-container .courses-listing-item{
			max-height:none !important;
        }

        .courses-container .course .cover-image::before{
			display:none;
        }

        .course-info .intro-inner-wrapper{
			min-width:100% !important;
			max-width:100% !important ;
        }

        .course-info .container .details{
			min-width:100% !important;
			max-width:100% !important;
        }
		
		.course-info .container{
			min-width:100% !important;
			max-width:100% !important;
        }

        .course-info .intro-inner-wrapper .intro{
			display: block !important;
			max-width:90%;
			margin-left: auto;
			margin-right: auto;
			width:auto !important;
        }

        .course-info .intro-inner-wrapper .intro .register{
			width:100% !important;
        }

        .course-info .intro-inner-wrapper .intro .disabled{
			width:60% !important;
        }

        .ssau_menu ol, .ssau_menu .doc-link {
			float:none !important;
        }

        .ssau_menu .user {
			float:none !important;
			padding:0 0 10px 0;
        }


        .course-info .intro-inner-wrapper .media{
			display: block !important;
			max-width:90%;
			margin-left: auto;
			margin-right: auto;
			width: auto  !important;
        }
		
		.course-info .container .details{
			max-width:60% !important;
        }

        .course-info .container .course-sidebar{
			display:none !important;
        }
}

.global-header{
	border-bottom: 1px solid #009cde !important;
}

.global-header .nav-links .secondary .nav-item{
	padding: 5px 0 0 !important;
	margin-right:0 !important;
	margin-left: 20px !important;
}

.nav-item .register-btn, .nav-item .sign-in-btn{
	background: #009CDE !important;
	color: white !important;
	font-weight: 500 !important;
	border: 1px solid #009CDE !important;
	font-size: 13pt !important;
	transition: all 0.3s ease !important;
	text-transform: uppercase !important;
}

.ssau_index_1 button{
	background: #009CDE !important;
	color: white !important;
	font-weight: 500 !important;
	border: 1px solid #009CDE !important;
	font-size: 13pt !important;
	transition: all 0.3s ease !important;
	text-transform: uppercase !important;
}

.courses-container .courses .course .course-image .cover-image::before{
	display:none;
}

.courses-container .courses .course .course-image .cover-image .learn-more{
	display:none;
}

.ssau_index_1 button:hover{
	background: white !important;
	color: #009CDE !important;
	font-weight: 500 !important;
	border: 1px solid #009CDE !important;
	font-size: 13pt !important;
	transition: all 0.3s ease !important;
}

.nav-item .register-btn:hover, .nav-item .sign-in-btn:hover{
	background: white !important;
	color: #009CDE !important;
	font-weight: 500 !important;
	border: 1px solid #009CDE !important;
	font-size: 13pt !important;
	transition: all 0.3s ease !important;
}

.ssau_nav .ssau_menu{
	width:56.6%;
}

.ssau_nav .ssau_head_logo{
	padding-left:2%;
}

.white-with-shadow button:hover, .course-info .intro-inner-wrapper .intro a:hover{
	background: #fff ;
	background-color: #fff !important;
	color: #009CDE !important;
	font-weight: 500 ;
	border: 1px solid #009CDE !important;
}

.header-global{
	min-height:65px;
}

.ssau_nav button:hover{
	background: #fff ;
	color: #009CDE ;
	font-weight: 500 ;
	border: 1px solid #009CDE ;
}

.ssau_nav button:active:not(:disabled), .ssau_nav button:focus:not(:disabled){
	box-shadow:inset 0 0 0 0 #fff;
}

.white-with-shadow .ssau_index_2 p{
	font-size:13pt;
	margin-top:10px;
}

.white-with-shadow p{
	font-size: 18pt;
	text-align: center;
	margin-bottom: 10px;
}

.ssau_index_3{
	background-position: 50% 10%;
	background-attachment: fixed;
	margin: 0;
	margin-bottom: 10px;
}

.ssau_index_2_test{
	width:90%;
	margin-left:auto;
	margin-right:auto;
	padding:20px;
	display:table;
}

.ssau_index_2_test .row{
	width:100%;
	height:100%;
	display:table-row;
}

.ssau_index_2_test .row .cell{
	width:49%;
	height:100%;
	display:table-cell;
}

.ssau_index_2_test .cell img{
	display:table-cell;
	width:70%;
	height:auto;
}

.ssau_index_2_test .cell p{
	display:table-cell;
	width:80%;
	height:100%;
	font-size:13pt;
	text-align:left;
	vertical-align:middle;
}
